@model ListUserViewModel

@{
    ViewData["Title"] = "Listado de usuarios";
    Layout = "../shared/_Layout";
}

<h1>Listado de Usuarios</h1>

@if (Model.Message is not null)
{
    <div class="alert alert-success" role="alert">
        @Model.Message
    </div>
}

@if (Model.Users is not null)
{
    <form method="post">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Acción</td>
                    <td>Email</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-primary me-2" asp-action="todoAdmin" asp-route-email="@user.Email">Hacer Administrador</button>
                                <button class="btn btn-secondary me-2" asp-action="removeAdmin" asp-route-email="@user.Email">Remover Administrador</button>
                            </td>
                            <td>
                                @user.Email
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
    </form>

}
else
{
    <p>No hay usuarios para mostrar!</p>
}

